/* Header, footer, and navbar alignments */

header,
footer {
  margin-top: 0;
  text-align: center;
  background-color: #403933;
  color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: 16px;
  font-size: 50px;
}

/* navigation */

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 10px 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/* Flex boxes */

.group {
  border-bottom: 1px solid black;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}


/* image and text formatting */

body {
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  color:darkslategrey;
}

.group img {
  width: 100%;
}

.round-borders {
  border-radius: 10px;
}

iframe {
  margin-top: 20px;
  width: 100%;
}

h3, h4 {
  text-align: center;
}

/* desktop view */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
    padding: 10px 0 20px 0;
  }

  .item {
    flex: 1;
    margin: 10px;
  }

  .item-double {
    flex: 2;
    margin: 10px;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    font-size: 38px;
    margin: 14px 0;
    padding-top: 6px;
  }

  header nav {
    margin-top: 14px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

}

/* form styling */

form {
  padding-right: 5px;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}