/* General styles: fonts, font-size things of that nature */


body {
    background-color:floralwhite;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    color:darkslategrey;
}


header, footer {
  text-align: center;
  background-color: #403933;
  color:antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  font-size:18px;
}

section {
   padding-top: 10px;
}

.group img {
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
 }

 .wrapper {
   border-top: 1px solid black;
 }


/* flexbox management */

  .item {
    flex: 1;
    margin: 10px;
  }

  
/* header and footer sizes */
header {
  height: 140px;
  margin-bottom: 10px;
  
}

footer {
  height:90px;
  }



/* objects within header and footer */
.name {
  padding: 10px;
  margin: 0px 0px 0px 80px;
}

header h1 {
  font-size: 38px;
}

header h2 {
  font-size: 28px;
}


  footer p {
    padding:8px 0 0 0;
  }


/* header text alignment and font size */

h1, h2, h3 {
  text-align: center;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }


/* line spacing for main text border styling */ 
p, li {
  line-height: 1.25;
}

img {
   width:100%;
  border: 1px solid black;
  border-radius: 10px;
}



.contact {
  padding-top:60px;
}

/* Link styling */

a {
	font-weight: 700;
	text-decoration: none;	
}
a:link { color: Blue; }
a:visited { color: darkslateblue; }
a:hover { color: lightblue; }
a:active { color: lightblue; }
a:hover {
	text-decoration: underline;	
}

li a {
  display: block;
  font-size:16px;
  line-height:2;
  }
 .nav-elements li a:hover {
    background-color:grey
  }

/* desktop view */

@media all and (min-width: 800px) {
  section {
     padding: 10px 10% 0px 10%;
  }

   .about {
    flex-direction: row;
  }

  .custom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

 
}





